/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&family=Merriweather:ital,wght@1,700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@700&display=swap');


@import url('./global/global.css');
@import url('./utilidades/tipografia.css');
@import url('./utilidades/cores.css');

/* utilidades */

@import url('./global/header.css');
@import url('./global/footer.css');
@import url('./utilidades/componentes.css');

/* home */

@import url('./home/indrocucao.css');
@import url('./home/empreendimento.css');
@import url('./home/imovies.css');
@import url('./home/parceiros.css');
@import url('./home/portfolio.css');


/*

#menu ul {
  display: flex;
  align-items: center;
}

#menu li a {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  color: #44BBA4;
  padding: .5rem 1rem;
  font-size: 1.125rem;
}

#menu li a::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  transition: .3s;
}

#menu li a:hover::before {
  background: #44BBA4;
}


.introducao-bg {
  width: 100%;
  height: 505px;
  background:
    linear-gradient(to right, #171c1a, #192422d0, #1f2a288f, #ffffff00),
    url('./img/bg.jpg'), no-repeat
  ;
  background-size: cover;
  background-position: center;
  margin-bottom: 100px;
}

.introducao {
  color: #fff;
}

.introducao h1 {
  font-size: 2.5rem;
}

.introducao p {
  max-width: 34ch;
  font-size: 1.75rem;
}

.titulo {
  width: 60%;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background: #212726;
  color: #36A791;
  padding: 2.5rem 4rem;
  margin-bottom: calc(100px - 10px);
}

.titulo h2 {
  font-size: 3rem;
  text-transform: uppercase;
}

.titulo::after {
  content: '';
  display: block;
  width: 30%;
  height: 8px;
  border-radius: 2px;
  background: #36A791;
}

.empreendimentos {
  display: grid;
  grid-template-columns: 480px 560px 480px;
  gap: 40px;
  padding: 0 1rem;
  overflow-x: auto;
  padding: 10px;
}

.empreendimentos .empreendimento-img {
  position: relative;
  height: 320px;
  border-radius: 8px;
  overflow: hidden;
}

.empreendimentos .empreendimento-img::before {
  content: '';
  position: absolute;
  right: 0;
  display: block;
  width: 380px;
  height: 400px;
  border-top-left-radius: 100%;
  background: #9df5e3b9;
  z-index: 1; 
}

.empreendimentos .empreendimento-img::after {
  content: '';
  position: absolute;
  right: 0;
  display: block;
  width: 380px;
  height: 400px;
  border-bottom-left-radius: 100%;
  background: #171C1A;
  background: #44BBA4;
}

.empreendimentos .empreendimento-img img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.empreendimentos::-webkit-scrollbar {
  height: 10px;
}

.empreendimentos::-webkit-scrollbar-track {
  background: transparent;
}
 
.empreendimentos:hover::-webkit-scrollbar-thumb {
  border: solid 10px #fff;
  border-top: transparent;
  border-bottom: transparent;
  background: rgba(136, 136, 136, 0.322); 
}

.empreendimentos .btn {
  position: absolute;
  right: 34px;
  bottom: 34px;
  z-index: 2;
}

.imoveis-content {
  position: relative;
  padding: 100px 0 150px 0;
}

.imoveis-content .titulo {
  position: absolute;
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  text-align: right;
}

.imoveis-content .titulo::after {
  position: absolute;
  right: 4rem;
  width: 16%;
}

.imoveis-content .imoveis {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 235px;
  padding: 0 1rem;
}

.imoveis img {
  border-radius: 8px;
  height: 100%;
}

.imoveis li.imoveis-img:nth-child(2) img {
  margin-top: 50px;
}

.imoveis li.imoveis-img:nth-child(3) img {
  margin-top: 100px;
}

.imoveis li.imoveis-img:nth-child(4) img {
  margin-top: 150px;
}

.parceiros-content {
  padding: 100px 0;
}

.parceiros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;

}

.parceiros li {
  border: solid 2px #B6C4C0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 24px;
  padding: 1rem 3rem;
}

.parceiros-content .btn {
  display: block;
  margin: 0 auto;
  margin-top: 2.125rem;
} */
