.btn-primary {
  display: block;
  max-width: max-content;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 24px;
  background: linear-gradient(var(--cor-gradient-1), var(--cor-gradient-2));
  box-shadow: 0 1px 1px 0 #1f2a2880;
  font: 700 1.125rem/1.25 'Istok Web', sans-serif;
  color: var(--cor-13);
  text-transform: uppercase;
  padding: 16px 42px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25rem 2.5rem;
}

.titulo-primary {
  width: max-content;
  max-width: 80%;
  border-radius: 0px 34px 34px 0px;
  background: var(--cor-13);
  font: 700 4rem/1.5 'Istok Web', sans-serif;
  text-transform: uppercase;
  color: var(--cor-p8);
  padding: 2.5rem 10rem 2.5rem 9rem;
  margin-bottom: 6.25rem;
}

.titulo-primary.secondary {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 34px 0 0 34px;
  padding: 2.5rem 9rem 2.5rem 10rem;
  text-align: right;
}


.titulo-primary::after {
  content: '';
  display: block;
  width: 54%;
  height: 8px;
  border-radius: 2px;
  background: var(--cor-p8);
}

.titulo-primary.titulo-primary.secondary::after {
  position: absolute;
  right: 9rem;
  width: 30%;
}

.flex-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-3 {
  display: flex;
  align-items: center;
}

.padding-1 {
  position: relative;
  padding: 6.25rem 0;
}

.mb {
  margin-bottom: 0;
}
/* Banners */

.banner-bg {
  display: flex;
  align-items: center;
  background-size: cover;
  height: 400px;
}

.banner {
  width: 100%;
}

.banner h1 {
  text-transform: uppercase;
}

@media (max-width: 1000px) {
  .titulo-primary {
    font-size: 3rem;
    padding: 2.5rem 5rem 2.5rem 2rem;
    /* padding: 2.5rem 10rem 2.5rem 9rem; */
  }

  .titulo-primary.secondary {
    font-size: 3rem;
    border-radius: 34px 0 0 34px;
    padding: 2.5rem 2rem 2.5rem 5rem;
  }

  .titulo-primary.titulo-primary.secondary::after {
    right: 2rem;
  }
}

@media (max-width: 800px) {
  .titulo-primary {
    font-size: 2.5rem;
  }

  .titulo-primary.secondary {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 1.25rem  1rem;
  }

  .padding-1 {
    position: relative;
    padding: 3rem 0;
  }

  .titulo-primary {
    font-size: 2rem;
    border-radius: 0px 24px 24px 0px;
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    margin-bottom: 3rem;
  }

  .titulo-primary.secondary {
    font-size: 2rem;
    border-radius: 24px 0 0 24px;
    padding: 1.5rem 1.5rem 1.5rem 3rem;
  }

  .titulo-primary.titulo-primary.secondary::after {
    right: 1.5rem;
  }

  .banner h1 {
    font-size: 4rem;
  }
}

@media (max-width: 500px) {
  .titulo-primary {
    font-size: 1.5rem;
    border-radius: 0px 22px 22px 0px;
    padding: 1.5rem 2rem 1.5rem 1.5rem;
  }

  .titulo-primary.secondary {
    font-size: 1.5rem;
    border-radius: 22px 0 0 22px;
    padding: 1.5rem 1.5rem 1.5rem 4rem;
  }
}

@media (max-width: 350px) {
  .banner h1 {
    font-size: 3rem;
  }
}