#tecnologia .banner-bg {
  background:
    linear-gradient( 45deg, var(--cor-14) 50%, rgba(255, 255, 255, 0) 50%),
    url('../../img/tecnologia/bg-tecnologia001.jpg') 100%
  ;
  background-size: contain;
}

@media ( max-width: 1000px ) {
  #tecnologia .banner-bg {
    background-size: cover;
  }
}


@media (max-width: 720px) {
  #tecnologia .banner h1 {
    font-size: 5rem;
  }
}

@media (max-width: 600px) {
  #tecnologia .banner h1 {
    font-size: 3.5rem;
  }
}

@media (max-width: 500px) {
  #tecnologia .banner h1 {
    font-size: 3.2rem;
  }
}

@media (max-width: 400px) {
  #tecnologia .banner h1 {
    font-size: 2.5rem;
  }
}