#portfolio .banner-bg {
  background:
    linear-gradient( 45deg, var(--cor-14) 50%, rgba(255, 255, 255, 0) 50%),
    url('../../img/portfolio/bg-portfolio.jpg') 100%
  ;
  background-size: contain;
}

@media( max-width: 600px ) {
  #portfolio .banner-bg {
    background-size: cover;
  }
}

@media ( max-width: 400px ) {
  #portfolio .banner-bg .banner h1 {
    font-size: 3.8rem;
  }
}

@media ( max-width: 320px ) {
  #portfolio .banner-bg .banner h1 {
    font-size: 3.3rem;
  }
}