#portfolio .footer-bg {
  margin-top: auto;
}

.pg-portfolio-bg {
  padding: 0 3.25rem;
  max-width: 1400px;
  margin: 0 auto;
}

.pg-portfolio {
  display: flex;
  flex-direction: column;
  row-gap: 6.25rem;
}

.pg-portfolio-item:nth-child(2) .pg-portfolio-conteudo {
  order: 1;
}

.pg-portfolio-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

.pg-portfolio-item h2 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.pg-portfolio-conteudo {
  display: flex;
  flex-direction: column;
  row-gap: 2.125rem;
}

.portfolio-galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.portfolio-galeria img:nth-child(5),
.portfolio-galeria img:nth-child(6) {
  display: none;
}

.portfolio-galeria img {
  border-radius: var(--border-r-1);
  cursor: pointer;
}


.pg-portfolio-fotos {
  position: relative;
  display: grid;
  grid-template-columns: 5fr 3fr;
  gap: 1.5rem;
}

.pg-portfolio-fotos .pg-portfolio-img:nth-child(1) img {
  border-radius: 100px 12px 100px 12px;
  border: solid 2px var(--cor-p3);
}

.pg-portfolio-fotos .pg-portfolio-img:nth-child(3) img {
  border-radius: 8px 64px 8px 64px;
}

.pg-portfolio-fotos .pg-portfolio-img:nth-child(3) {
  margin-top: -150px;
  align-self: flex-end;
}

@media (min-width: 1360px) {
  .pg-portfolio-fotos .dec {
    position: absolute;
    top: 40%;
    right: 55px;
    transform: translateY(-50%);
    width: 160px;
    height: 160px;
    border-radius: 52px 4px 52px 4px;
    border: solid 4px var(--cor-p6);
  }
}

@media (min-width: 1400px) {
  .pg-portfolio-fotos .dec {
    right: 65px;
  }
}

@media ( max-width: 1300px ) {
  .dec {
    display: none;
  }

  .pg-portfolio-fotos {
    grid-template-columns: 1fr;
  }

  .pg-portfolio-fotos img {
    width: 100%;
  }

  .pg-portfolio-fotos .pg-portfolio-img:nth-child(3) {
    display: none;
  }
}


@media ( max-width: 800px ) {
  .pg-portfolio-item {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 1.5rem;
  }

  .pg-portfolio-conteudo {
    grid-row: 1;
    grid-column: 1/-1;
  }

  .pg-portfolio-fotos .pg-portfolio-img:nth-child(1) img {
    border-radius: var(--border-r-1);
  }
}

@media ( max-width: 600px ) {
  .portfolio-galeria {
    gap: 1rem;
  }

  .pg-portfolio-bg {
    padding: 0 1.5rem;
  }

  .pg-portfolio-bg .padding-1 {
    padding: 1.5rem 0;
  }

  .pg-portfolio-conteudo p {
    font-size: 1.2rem;
  }
}