#sobre .footer-bg {
  margin-top: auto;
}

.historia-content {
  padding: 0 5rem;
  margin-bottom: 6.25rem;
}

.historia {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  /* height: 600px; */
  max-width: 1400px;
  border-radius: var(--border-r-1);
  background: var(--cor-13);
  padding: 2.5rem;
}

.historia-conteudo h2 {
  margin-bottom: 1.5rem;
}

.historia-imagem {
  position: relative;
  height: 500px;
  border-radius: var(--border-r-1);
  overflow: hidden;
}

.historia-imagem img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .historia {
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1.5rem;
  }

  .historia-conteudo {
    grid-row: 1;
    /* height: 60px; */
  }

  .historia-conteudo h2 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 800px) {
  .historia-content {
    padding: 0 2.5rem;
  }

  .historia-imagem {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .historia-content {
    padding: 0 1rem;
    margin-bottom: 3rem;
  }

  .historia {
    /* height: 450px; */
    padding: 1rem;
  }

  .historia-conteudo h2 {
      font-size: 2rem;
      margin-bottom: .5rem;
  }

  .historia-conteudo p {
    font-size: 1rem;
  }

  #sobre .titulo-primary {
    font-size: 1.5rem;
  }
}