#sobre .footer-bg {
  margin-top: auto;
}

.time-line-card-bg {
  padding: 0 1rem;
}

.time-line-card-content {
  border-radius: var(--border-r-1);
  background: var(--cor-13);
}

.time-line-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  padding: 2.5rem;
}

.time-line-card img {
  object-fit: fill;
  border-radius: var(--border-r-1);
}

.time-line-card-conteudo h2 {
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .time-line-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    padding: 2rem;
  }

  .time-line-card img {
    display: none;
  }

  .time-line-card .time-line-card-conteudo {
    order: 2;
  }

  .time-line-card-conteudo h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
}

@media (max-width: 600px) {
  .time-line-card {
    padding: 0;
  }
}