#container-modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #171c1a3b;
  z-index: 3000;
}

#container-modal.mostrar {
  display: block;
}

.modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 40px;
  width: 66%;
  border-radius: var(--border-r-1);
  background: var(--cor-p2);
  margin: 0 auto;
  padding: 1.5rem 2.5rem;
  transition: .5s;
  opacity: 1;
}

.modal button {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.modal button:hover {
  background: var(--cor-p13);
  color: var(--cor-02);
}

@media (max-width: 650px) {
  .modal {
    padding: 1rem 1.5rem;
  }
  
  .modal p {
    font-size: .875rem;
  }

  .modal button {
    top: 49%;
    right: 10px;
  }
}

@media (max-width: 400px) {
  .modal {
    padding: 1rem;
  }
  
  .modal p {
    font-size: .875rem;
  }

  .modal button {
    top: 49%;
    right: 4px;
  }
}
