#contato article {
  margin-bottom: 6.25rem;
}

#contato .perguntas {
  padding-top: 0;
  padding-bottom: 0;
}

.perguntas dl > div {
  position: relative;
  padding: 1.25rem;
  border-radius: var(--border-r-1);
}

.perguntas h3 {
  font: 700 1.5rem/1.5 'Istok Web', sans-serif;
}

.perguntas dt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.perguntas dt button {
  display: block;
  border: none;
  width: 16px;
  height: 16px;
  background: url('../../img/contato/mais.svg');
  cursor: pointer;
}

.perguntas dt button span {
  opacity: 0;
}

.perguntas dl > div:nth-child(odd) {
  background: var(--cor-03);
}

.perguntas dl > div:nth-child(odd)::before {
  content: '';
  position: absolute;
  top: 24px;
  left: -8px;
  display: block;
  width: 8px;
  height: 36px;
  border-radius: 2px 0 0 2px;
  background: var(--cor-p6);
}

.mapa img {
  width: 100%;
}

@media ( max-width: 800px ) {
  .perguntas h4 {
    font-size: 1.4rem;
    line-height: 1.3;
  }

  .perguntas dd {
    font-size: 1.2rem;
  }
}