*, ::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
}

body {
  overflow-x: hidden;
}

@media ( max-width: 800px ) {
  body {
    overflow-x: hidden;
  }
}